<div class="offerByCompanyCard" [formGroup]="offerByCompanyForm">
    <input type="number" placeholder="Discount" formControlName="discount" value="{{this.offer.amount}}">
    <div>
        <label for="beginDate">Begin date:</label>
        <input type="date" name="beginDate" formControlName="beginDate" [value]="convertDate(this.offer.beginDate)| date:'yyyy-MM-dd'">
    </div>
    <div>
        <label for="endDate">End date:</label>
        <input type="date" name="endDate" formControlName="endDate" [value]="convertDate(this.offer.beginDate) | date:'yyyy-MM-dd'">
    </div>
    <h2>For product: <br> {{this.offer.productInstance?.name}}</h2>
    <p>Description: <br> {{this.offer.productInstance?.description}}</p>
    <button (click)="saveOffer()">Create offer</button>
</div>