<div class="navigation-medium">
    <div>
        <!-- deployment link -->
        <img src="./assets/images/honey-beer-logo.png" alt="" (click)="redirectToMainPage()">
        <button class="menu-button">Our beer<mat-icon>arrow_drop_down</mat-icon>
            <!-- our beer drop down menu -->
            <div class="arrow-drop-down-menu">
                <div class="arrow-drop-down-content">
                    <ul>
                        <li>
                            <button (click)="redirectToDiscounts()" (mouseenter)="setImage(images[0])" (mouseleave)="setImage('#')">Discounts</button>
                        </li> 
                        <li>
                            <button (click)="redirectToSurveys()" (mouseenter)="setImage(images[1])" (mouseleave)="setImage('#')">Surveys</button>
                        </li> 
                        <li>
                            <button (click)="redirectToVotingForms()" (mouseenter)="setImage(images[1])" (mouseleave)="setImage('#')">Pick your choice</button>
                        </li>   
                    </ul>
                </div>
                <div class="arrow-drop-down-content-right">
                    <img src="{{this.hoveredImage}}" alt="">
                </div>
            </div>
        </button>
        

        <button class="menu-button inside-honey-beer-button">Inside honey beer<mat-icon>arrow_drop_down</mat-icon>
            <!-- Inside honey beer drop down menu -->
            <div class="arrow-drop-down-menu">
                <div class="arrow-drop-down-content">
                    <ul>
                        <li>
                            <button (click)="redirectToProducts()" (mouseenter)="setImage(images[0])" (mouseleave)="setImage('#')">Products</button>
                        </li>
                        <li>
                            <button (click)="redirectToPromotions()" (mouseenter)="setImage(images[0])" (mouseleave)="setImage('#')">Promotions</button>
                        </li>
                        <li *ngIf="isCustomerRegistered()">
                            <button (click)="navigateToScanner()" (mouseenter)="setImage(images[1])" (mouseleave)="setImage('#')">QR code Scanner</button>
                        </li>
                        <li *ngIf="isCompanyRegistered()">
                            <button (click)="navigateToOffers()" (mouseenter)="setImage(images[2])" (mouseleave)="setImage('#')">Offers</button>
                        </li>
                        <li *ngIf="isCompanyRegistered()">
                            <button (click)="navigateToPersonalOffers()" (mouseenter)="setImage(images[3])" (mouseleave)="setImage('#')">Personal offers</button>
                        </li>
                        <li *ngIf="isCompanyRegistered()">
                            <button (click)="navigateToCreateOffer()" (mouseenter)="setImage(images[4])" (mouseleave)="setImage('#')">Create offer</button>
                        </li>
                        <li *ngIf="isCompanyRegistered()">
                            <button (click)="navigateToReservations()" (mouseenter)="setImage(images[5])" (mouseleave)="setImage('#')">Reservations</button>
                        </li>
                        <li *ngIf="isCompanyRegistered()">
                            <button (click)="navigateToCreateReservation()" (mouseenter)="setImage(images[6])" (mouseleave)="setImage('#')">Create reservation</button>
                        </li>
                        <li *ngIf="isCompanyRegistered()">
                            <button (click)="redirectToMeetings()" (mouseenter)="setImage(images[6])" (mouseleave)="setImage('#')">Available meetings</button>
                        </li>
                    </ul>
                </div>
                <div class="arrow-drop-down-content-right">
                    <img src="{{this.hoveredImage}}" alt="">
                </div>
            </div>
        </button>
        
    </div>
    <div class="menu-container">
        <mat-icon class="side-menu-bitton">menu
            <div class="side-menu">
                <button class="menu-button" (click)="redirectToLogin()">Log in</button>
                <button class="menu-button" (click)="redirectToRegister()">Register</button>
                <button class="menu-button" (click)="redirectToProductStores()">Product stores</button>
                <button class="menu-button" (click)="redirectToOurStores()">Our stores</button>
                <button href="#" class="build-a-bottle-link">Buy online</button>
                <button class="person-avatar-icon">
                    <mat-icon (click)="redirectToAccount()">person</mat-icon>
                </button>
            </div>
        </mat-icon>
        
    </div>
</div>