<div class="navigation-big">
<!-- development link -->
<a href="app">
    <img src="./../assets/images/honey-beer-logo.png" alt="">
</a>
<!-- deployment link -->
<!-- <img src="./assets/images/honey-beer-logo.png" alt=""> -->
<button class="menu-button">Our beer<mat-icon>arrow_drop_down</mat-icon>
    <!-- our beer drop down menu -->
    <div class="arrow-drop-down-menu">
        <div class="arrow-drop-down-content">
            <h1>This is another content</h1>
        </div>
    </div>
</button>

<button class="menu-button inside-honey-beer-button">Inside honey beer<mat-icon>arrow_drop_down</mat-icon>
    <!-- Inside honey beer drop down menu -->
    <div class="arrow-drop-down-menu" menu-container>
        <div class="arrow-drop-down-content">
            <ul>
                <li>
                    <a href="app/products">Products</a>
                </li>
                <li>
                    <a href="app/scanner">QR code Scanner</a>
                </li>
                <li>
                    <a href="app/offers">Offers</a>
                </li>
            </ul>
        </div>
        <div class="arrow-drop-down-content-right">

        </div>
    </div>
</button>

<a href="login">Log in</a>
<a href="register">Register</a>
<a href="#" *ngIf="this.isCompanyRegistered()">Buy online</a>
<a href="#">Store locator</a>
<a href="#" class="build-a-bottle-link">Build a bottle</a>
<a href="#" *ngIf="this.isCompanyRegistered()"><mat-icon>shopping_cart</mat-icon></a>
<button class="person-avatar-icon">
<mat-icon>person</mat-icon>
    <div class="avatar-info" *ngIf="this.isCustomerRegistered()">
        <div>
            <label for="">Name:</label>
            <p>{{this.customer.username}}</p>
        </div>
        <div>
            <label for="">Email:</label>
            <p>{{this.customer.email}}</p>
        </div>
        <button (click)="deleteCustomerAccount()">Delete account</button>
    </div>
    <div class="avatar-info" *ngIf="this.isCompanyRegistered()">
        <div>
            <label for="">Name:</label>
            <p>{{this.company.name}}</p>
        </div>
        <div>
            <label for="">Email:</label>
            <p>{{this.company.email}}</p>
        </div>
        <div>
            <button (click)="deleteAccount()">Delete account</button>
        </div>
    </div>
    <div class="avatar-info" *ngIf="!(this.isCustomerRegistered()||this.isCompanyRegistered())">
        <p>Please log in <br> or register</p>
    </div>
</button>

</div>