<div class="navigation-small">
    <div>
        <!-- development link -->
        <!-- <img src="./../assets/images/honey-beer-logo.png" (click)="redirectToMainPage()" alt=""> -->
        <!-- deployment link -->
        <img src="./assets/images/honey-beer-logo.png" (click)="redirectTo('app')" alt="">
    </div>
    <div class="menu-container">
        <mat-icon class="side-menu-bitton">menu
            
        </mat-icon>
        <div class="side-menu">
            <div class="arrow-drop-down-content">
                <h1>Account</h1>
                <ul>
                    <li>
                        <button  (click)="redirectTo('register')">Log in</button>
                    </li>
                    <li>
                        <button  (click)="redirectTo('register')">Register</button>
                    </li>
                    <li *ngIf="isCustomerRegistered() || isCompanyRegistered()">
                        <button  (click)="redirectTo('app/account')">Account</button>
                    </li>
                </ul>
            </div>
            <div class="arrow-drop-down-content">
                <h1>Our beer</h1>
                <ul>
                    <li>
                        <button (click)="redirectTo('app/product-stores')">Product stores</button>
                    </li>
                    <li>
                        <button (click)="redirectTo('app/our-stores')">Our stores</button>
                    </li>
                    <li>
                        <button (click)="redirectTo('app/discounts')">Discounts</button>
                    </li>
                    <li>
                        <button (click)="redirectTo('app/surveys')">Surveys</button>
                    </li>
                    <li>
                        <button (click)="redirectTo('app/voting-forms')">Pick your choice</button>
                    </li>
                </ul>
            </div>
            <div class="arrow-drop-down-content">
                <h1>Inside honey beer</h1>
                <ul>
                    <li>
                        <button (click)="redirectTo('app/products')">Products</button>
                    </li>
                    <li>
                        <button (click)="redirectTo('app/promotions')">Promotions</button>
                    </li>
                    <li *ngIf="isCustomerRegistered()">
                        <button (click)="redirectTo('app/scanner')">QR code Scanner</button>
                    </li>
                    <li *ngIf="isCompanyRegistered()">
                        <button (click)="redirectTo('app/offers')">Offers</button>
                    </li>
                    <li *ngIf="isCompanyRegistered()">
                        <button (click)="redirectTo('app/personal_offers')">Personal offers</button>
                    </li>
                    <li *ngIf="isCompanyRegistered()">
                        <button (click)="redirectTo('app/new_offer')">Create offer</button>
                    </li>
                    <li *ngIf="isCompanyRegistered()">
                        <button (click)="redirectTo('app/reservations')">Reservations</button>
                    </li>
                    <li *ngIf="isCompanyRegistered()">
                        <button (click)="redirectTo('app/create-reservation')">Create reservation</button>
                    </li>
                    <li *ngIf="isCompanyRegistered()">
                        <button (click)="redirectTo('app/meetings')">Available meetings</button>
                    </li>
                </ul>
            </div>
        </div>  
    </div>
</div>