.navigation-small{
    position: relative;
    display: flex;
    width:100%;
    &>.menu-container{
        display: flex;
        align-items: center;
        padding:0px 40px 0px 40px;
    }
    &>div{
        display: flex;
        width: fit-content;
        &:first-child{
            flex-grow: 1;
            &>img{
                padding-bottom:auto;
                height:100px;
                width:100px;
            }
            display: flex;
            align-items: center;
            gap:20px;
            height:100px;    
            &>.menu-button{
                &:hover+.arrow-drop-down-menu{
                    height: 700%;
                    padding: 20px 20px 20px 20px;
                    border-bottom: 1px solid #B8ADA0;
                }  
            }
            &>.inside-honey-beer-button{
                margin-right: auto;
            }
        }
        &>button{
            height:100%;
            background-color: transparent;
            font-family: 'Freizeit120';
        }
        &:last-child{
            &:hover>.side-menu{
                height:400%;
                padding: 20px 20px 20px 20px;
                max-height: 100svh;
            }
            &>.side-menu{
                *{
                    white-space: break-spaces;
                }
                overflow-y: auto;
                display: block;
                height: 0%;
                padding:0px 20px 0px 20px;
                transition: height 0.4s ease-in-out,padding 0.4s ease-in-out;
                justify-content: space-evenly;
                position: absolute;
                top:99px;
                right:0px;
                left:0px;
                max-width: 100%;
                height:percentage($number: 0);
                flex-direction: column;
                //width:fit-content;
                padding: 0px 20px 0px 20px;
                gap:20px;
                background-color: #e4ddcd;
                align-items: center;
                //transition: height 0.5s ease-in-out, padding 0.5s ease-in-out;
                &>.arrow-drop-down-content{
                    display: flex;
                    flex-direction: column;
                    height:100%;
                    width:100%;
                    padding:20px;
                    align-items: center;
                    &>h1{
                        margin-bottom: 20px;
                        font-family: "Freizeit120";
                    }
                    >ul{
                        display: flex;
                        flex-direction: column;
                        list-style-type: none;
                        list-style-position: inside;
                        height:100%;
                        justify-content: space-evenly;
                        >li{
                            >button{
                                text-decoration: none;
                                color: black;
                                font-weight: 300;
                                font-size: 20px;
                                margin-inline: auto;
                                background-color: transparent;
                                transition: color 0.2s ease-in;
                                &:hover{
                                    color:white;
                                }
                            }
                        }
                    }
                }
                &>*{
                    width:fit-content;
                }
                &>a{
                    text-decoration: none;
                    color: black;
                    text-transform: uppercase;
                    font-family: 'Freizeit120';
                    font-size: 14px;
                }
                .build-a-bottle-link{
                    border:1px solid #B7ADA1;
                    border-radius: 3px;
                    padding:10px 20px 10px 20px;
                    font-family: 'Freizeit120';
                    background-color: #1e1e1e;
                    color:white;
                    transition:background-color 0.2s ease-in-out,color 0.2s ease-in-out,box-shadow 0.2s ease-in-out;
                    &:hover{
                        color: #1e1e1e;
                        border-color:#b7ada1;
                        background-color: #FFFCF2;
                        box-shadow: 4px -4px #fffcf2,-4px 4px #fffcf2,-4px -4px #fffcf2,4px 4px #fffcf2
                    }
                }
                .shopping-card-icon{
                    margin-right: 20px;
                }
            }
        }
    }
}