<div class="navigation-small">
    <div>
        <!-- development link -->
        <!-- <img src="./../assets/images/honey-beer-logo.png" (click)="redirectToMainPage()" alt=""> -->
        <!-- deployment link -->
        <img src="./assets/images/honey-beer-logo.png" (click)="redirectToMainPage()" alt="">
    </div>
    <div class="menu-container">
        <mat-icon class="side-menu-bitton">menu
            
        </mat-icon>
        <div class="side-menu">
            <div class="arrow-drop-down-content">
                <h1>Account</h1>
                <ul>
                    <li>
                        <button  (click)="redirectToLogin()">Log in</button>
                    </li>
                    <li>
                        <button  (click)="redirectToRegister()">Register</button>
                    </li>
                    <li *ngIf="isCustomerRegistered() || isCompanyRegistered()">
                        <button  (click)="redirectToAccount()">Account</button>
                    </li>
                </ul>
            </div>
            <div class="arrow-drop-down-content">
                <h1>Our beer</h1>
                <ul>
                    <li>
                        <!-- <button class="menu-button" href="#" *ngIf="this.isCompanyRegistered()">Buy online</button> -->
                        <button (click)="redirectToProductStores()">Product stores</button>
                    </li>
                    <li>
                        <button (click)="redirectToOurStores()">Our stores</button>
                    </li>
                    <li>
                        <button (click)="redirectToDiscounts()">Discounts</button>
                    </li>
                    <li>
                        <button (click)="redirectToSurveys()">Surveys</button>
                    </li>
                    <li>
                        <button (click)="redirectToVotingForms()">Pick your choice</button>
                    </li>
                </ul>
            </div>
            <div class="arrow-drop-down-content">
                <h1>Inside honey beer</h1>
                <ul>
                    <li>
                        <button (click)="redirectToProducts()">Products</button>
                    </li>
                    <li>
                        <button (click)="redirectToPromotions()">Promotions</button>
                    </li>
                    <li *ngIf="isCustomerRegistered()">
                        <button (click)="navigateToScanner()">QR code Scanner</button>
                    </li>
                    <li *ngIf="isCompanyRegistered()">
                        <button (click)="navigateToOffers()">Offers</button>
                    </li>
                    <li *ngIf="isCompanyRegistered()">
                        <button (click)="navigateToPersonalOffers()">Personal offers</button>
                    </li>
                    <li *ngIf="isCompanyRegistered()">
                        <button (click)="navigateToCreateOffer()">Create offer</button>
                    </li>
                    <li *ngIf="isCompanyRegistered()">
                        <button (click)="navigateToReservations()">Reservations</button>
                    </li>
                    <li *ngIf="isCompanyRegistered()">
                        <button (click)="navigateToCreateReservation()">Create reservation</button>
                    </li>
                    <li *ngIf="isCompanyRegistered()">
                        <button (click)="redirectToMeetings()">Available meetings</button>
                    </li>
                </ul>
            </div>
        </div>  
    </div>
</div>