<div class="personal-offers-page">
    <form [formGroup]="offersFG">
        <input type="number" name="number" formControlName="discount" placeholder="Discount" >
        <div>
            <label for="beginDate">Begin date:</label>
            <input class="date" type="date" name="beginDate" formControlName="beginDate">
        </div>
        <div>
            <label for="endDate">End date:</label>
            <input class="date" type="date" name="endDate" formControlName="endDate">
        </div>
        <input type="text" name="product" placeholder="Product name" formControlName="productName">
        <input type="text" placeholder="Product description" formControlName="productDescription">
    </form>
    <div>
        <div *ngFor="let offerBC of this.offerByCompanyList">
            <h1>Offer: {{offerBC.offerInstance.amount}}%</h1>
            <p>from {{convertDate(offerBC.offerInstance.beginDate)}} to {{convertDate(offerBC.offerInstance.endDate)}}</p>
            <h1 *ngIf="offerBC.offerInstance.productInstance!=null">For product: <br>{{offerBC.offerInstance.productInstance.name}}</h1>
            <p *ngIf="offerBC.offerInstance.productInstance!=null">description: <br>{{offerBC.offerInstance.productInstance.description}}</p>
            <button class="btn-redirect" (click)="redirectToEdit(offerBC)">Edit</button>
        </div>
        <ng-component *ngIf="this.offerByCompanyList.length>0;else noResult">
            <h1 >Loading...</h1>
        </ng-component>
        <ng-template #noResult>
            <h1 >No results</h1>
        </ng-template>
        
    </div>
</div>