<div class="suggestions" [formGroup]="emailForm" *ngIf="isCompanyRegistered()">
    <h3>Any questions?</h3>
    <input [ngClass]="this.titleEntered==undefined?'none':(this.titleEntered==true?'success':'error')" type="text" placeholder="Title" formControlName="title">
    <textarea [ngClass]="this.messageEntered==undefined?'none':(this.messageEntered==true?'success':'error')" name="message" formControlName="message" placeholder="Message" id="" cols="30" rows="10"></textarea>
    <button (click)="sendEmail()">Send suggestion</button>
</div>