.navigation-big{
    &>button>img{
        padding-bottom:auto;
        height:100px;
        width:100px;
    }
    display: flex;
    width:100%;
    align-items: center;
    gap:20px;
    height:100px;    
    &>.menu-button{
        &:hover>.arrow-drop-down-menu{
            height:60%;
            padding: 20px 20px 20px 20px;
            border-bottom: 1px solid #B8ADA0;
        }
        &>.arrow-drop-down-menu{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            position: absolute;
            width:100%;
            height:0%;
            top:99px;
            left:0px;
            gap:20px;
            transition: height 0.5s ease-in-out,padding 0.5s ease-in-out;
            background-color: #e4ddcd;
            overflow: hidden;
            padding:0px 20px 0px 20px;
            &>.arrow-drop-down-content{
                display: flex;
                flex-direction: column;
                height:100%;
                width:30%;
                padding:20px;
                align-items: center;
                background-color: #d6ac60;
                border:10px solid white;
                border-radius: 5px;
                >ul{
                    display: flex;
                    flex-direction: column;
                    list-style-type: none;
                    list-style-position: inside;
                    height:100%;
                    justify-content: space-evenly;
                    >li{
                        &>button{
                            text-decoration: none;
                            color: black;
                            font-weight: 300;
                            font-size: 20px;
                            margin-inline: auto;
                            background-color: transparent;
                            transition: color 0.2s ease-in;
                            &:hover{
                                color: white;
                            }
                        }
                    }
                }
            }
            &>.arrow-drop-down-content-right{
                display: flex;
                flex-direction: column;
                height:100%;
                width:30%;
                justify-content: center;
                &>img{
                    object-fit: contain;
                    display: flex;
                    max-height: 100%;
                    max-width: 100%;
                    min-width: 200px;
                }
            }
        }  
    }
    &>.inside-honey-beer-button{
        margin-right: auto;
    }
    display: flex;
    &>button{
        height:100%;
        background-color: transparent;
        font-family: 'Freizeit120';
    }
    
    &>.menu-button{
        text-decoration: none;
        color: black;
        text-transform: uppercase;
        font-family: 'Freizeit120';
        font-size: 14px;
    }
    .build-a-bottle-link{
        border:1px solid #B7ADA1;
        border-radius: 3px;
        padding:10px 20px 10px 20px;
        font-family: 'Freizeit120';
        background-color: #1e1e1e;
        color:white;
        height:fit-content;
        transition:background-color 0.2s ease-in-out,color 0.2s ease-in-out,box-shadow 0.2s ease-in-out;
        &:hover{
            color: #1e1e1e;
            border-color:#b7ada1;
            background-color: #FFFCF2;
            box-shadow: 4px -4px #fffcf2,-4px 4px #fffcf2,-4px -4px #fffcf2,4px 4px #fffcf2
        }
    }
    .person-avatar-icon{
        margin-right: 50px;
        position: relative;
        height:fit-content;
        aspect-ratio: 1/1;
        border:1px solid black;
        border-radius: 50px;
        &:hover>.avatar-info{
            height:200px;
            padding: 20px 10px 20px 10px;
        }
    }
    .avatar-info{
        position: absolute;
        min-width: 120px;
        height: 0px;
        padding:0px 10px 0px 10px;
        top:35px;
        right:-45px;
        background-color: #e4ddcd; 
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 20px;
        align-items: center;
        overflow: hidden;
        & button{
            background-color: transparent;
            color: black;
            transition: color 0.2s ease-in-out;
            &:hover{
                color: white;
            }
        }
        transition: height 0.4s ease-in-out,padding 0.2s ease-in-out;
    }
}