<div class="main-content" >
    <div class="main-header-and-pargraph">
        <h1><b>build your</b><br>custom bottle</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae magnam earum nesciunt quidem esse quam accusantium suscipit reiciendis impedit enim modi blanditiis, voluptates eaque a, voluptatibus rem ex magni dolorem.</p>
        <button>Build your bottle</button>
    </div>
    <div #modelDiv id="modeldiv"class="webgl" >
        <canvas #canvas id="canvas" class="canvas"></canvas>
    </div>
</div>