<button class="discount-card">
    <div class="discount-container">
        <!-- <img src="./../../../../assets/images/honey-beer-logo.png" alt=""> -->
        <img src="./assets/images/honey-beer-logo.png" alt="">
        <h1>{{this.discount.percentage}} %</h1>
        <p>{{this.discount.productInstance.name}}</p>
        <h2>Location:</h2>
        <p>{{this.discount.shoppingLocationInstance.location}}</p>
        <h2>Company:</h2>
        <p>{{this.discount.shoppingLocationInstance.companyInstance.name}}</p>
    </div>
</button>