.qrCodeButton{
    border-radius: 50px;
    background-color: rgba($color: #FFFFFF, $alpha: 0.7);
    border:1px solid rgba($color: #000000, $alpha: 0.2);
    margin-inline: auto;
    margin-top: 50px;
    font-size: 28px;
    font-family: "Freizeit120";
    cursor: pointer;
    padding:10px 20px 10px 20px; 
}
#qrCodeScanner{
    display: flex;
    .origin-overlay{
        width:5px;
    }
    .origin-canvas{
        position:relative !important;
    }
    .origin-video{
        width:50%;
        display: flex;
    }
}