USE [master]
GO
/****** Object:  Database [honey-beer-database]    Script Date: 29-Jun-25 14:58:30 ******/
CREATE DATABASE [honey-beer-database]
--  CONTAINMENT = NONE
--  ON  PRIMARY 
-- ( NAME = N'honey-beer-database', FILENAME = N'D:\MSDatabase\MSSQL15.MSSQLSERVER\MSSQL\DATA\honey-beer-database.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
--  LOG ON 
-- ( NAME = N'honey-beer-database_log', FILENAME = N'D:\MSDatabase\MSSQL15.MSSQLSERVER\MSSQL\DATA\honey-beer-database_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [honey-beer-database].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [honey-beer-database]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 29-Jun-25 14:58:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[answer]    Script Date: 29-Jun-25 14:58:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[answer](
	[event_id] [bigint] NOT NULL,
	[question_id] [bigint] NOT NULL,
	[answer_id] [bigint] IDENTITY(1,1) NOT NULL,
	[value] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_answer] PRIMARY KEY CLUSTERED 
(
	[event_id] ASC,
	[question_id] ASC,
	[answer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[company]    Script Date: 29-Jun-25 14:58:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[company](
	[pib] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[email] [nvarchar](max) NOT NULL,
	[password] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_company] PRIMARY KEY CLUSTERED 
(
	[pib] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer]    Script Date: 29-Jun-25 14:58:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer](
	[customer_id] [bigint] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](max) NOT NULL,
	[password] [nvarchar](max) NOT NULL,
	[email] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_customer] PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer_answer]    Script Date: 29-Jun-25 14:58:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer_answer](
	[event_id] [bigint] NOT NULL,
	[question_id] [bigint] NOT NULL,
	[answer_id] [bigint] NOT NULL,
	[form_id] [bigint] NOT NULL,
	[date] [datetime2](7) NOT NULL,
	[customer_id] [bigint] NULL,
 CONSTRAINT [PK_customer_answer] PRIMARY KEY CLUSTERED 
(
	[event_id] ASC,
	[question_id] ASC,
	[answer_id] ASC,
	[form_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[discount]    Script Date: 29-Jun-25 14:58:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[discount](
	[pib] [bigint] NOT NULL,
	[shopping_location_id] [bigint] NOT NULL,
	[product_id] [bigint] NOT NULL,
	[percentage] [int] NOT NULL,
	[begin_date] [datetime2](7) NOT NULL,
	[end_date] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_discount] PRIMARY KEY CLUSTERED 
(
	[pib] ASC,
	[shopping_location_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[event]    Script Date: 29-Jun-25 14:58:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[event](
	[event_id] [bigint] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](max) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[creation_date] [datetime2](7) NOT NULL,
	[begin_date] [datetime2](7) NOT NULL,
	[end_date] [datetime2](7) NOT NULL,
	[event_type_id] [bigint] NOT NULL,
 CONSTRAINT [PK_event] PRIMARY KEY CLUSTERED 
(
	[event_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[event_location]    Script Date: 29-Jun-25 14:58:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[event_location](
	[event_id] [bigint] NOT NULL,
	[event_location_id] [bigint] IDENTITY(1,1) NOT NULL,
	[location] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_event_location] PRIMARY KEY CLUSTERED 
(
	[event_id] ASC,
	[event_location_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[event_type]    Script Date: 29-Jun-25 14:58:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[event_type](
	[event_type_id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_event_type] PRIMARY KEY CLUSTERED 
(
	[event_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[form]    Script Date: 29-Jun-25 14:58:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[form](
	[form_id] [bigint] IDENTITY(1,1) NOT NULL,
	[creation_date] [datetime2](7) NOT NULL,
	[event_id] [bigint] NOT NULL,
	[qr_code_id] [bigint] NULL,
 CONSTRAINT [PK_form] PRIMARY KEY CLUSTERED 
(
	[form_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[location]    Script Date: 29-Jun-25 14:58:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[location](
	[location_id] [bigint] IDENTITY(1,1) NOT NULL,
	[location_name] [nvarchar](max) NOT NULL,
	[email] [nvarchar](max) NOT NULL,
	[phone] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_location] PRIMARY KEY CLUSTERED 
(
	[location_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[meeting]    Script Date: 29-Jun-25 14:58:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[meeting](
	[meeting_id] [bigint] IDENTITY(1,1) NOT NULL,
	[subject] [nvarchar](max) NOT NULL,
	[start_time] [datetime2](7) NOT NULL,
	[end_time] [datetime2](7) NOT NULL,
	[location] [nvarchar](max) NOT NULL,
	[pib] [bigint] NULL,
 CONSTRAINT [PK_meeting] PRIMARY KEY CLUSTERED 
(
	[meeting_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[offer]    Script Date: 29-Jun-25 14:58:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[offer](
	[product_id] [bigint] NOT NULL,
	[offer_id] [bigint] IDENTITY(1,1) NOT NULL,
	[amount] [int] NOT NULL,
	[begin_date] [datetime2](7) NOT NULL,
	[end_date] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_offer] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC,
	[offer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[offer_by_company]    Script Date: 29-Jun-25 14:58:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[offer_by_company](
	[pib] [bigint] NOT NULL,
	[product_id] [bigint] NOT NULL,
	[offer_id] [bigint] NOT NULL,
 CONSTRAINT [PK_offer_by_company] PRIMARY KEY CLUSTERED 
(
	[pib] ASC,
	[product_id] ASC,
	[offer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[personal_email]    Script Date: 29-Jun-25 14:58:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personal_email](
	[email] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_personal_email] PRIMARY KEY CLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 29-Jun-25 14:58:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[product_id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_product] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_in_location]    Script Date: 29-Jun-25 14:58:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_in_location](
	[pib] [bigint] NOT NULL,
	[shopping_location_id] [bigint] NOT NULL,
	[product_id] [bigint] NOT NULL,
 CONSTRAINT [PK_product_in_location] PRIMARY KEY CLUSTERED 
(
	[pib] ASC,
	[shopping_location_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[qr_code]    Script Date: 29-Jun-25 14:58:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qr_code](
	[qr_code_id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](450) NOT NULL,
	[qr_code_type_id] [bigint] NOT NULL,
 CONSTRAINT [PK_qr_code] PRIMARY KEY CLUSTERED 
(
	[qr_code_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[qr_code_type]    Script Date: 29-Jun-25 14:58:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qr_code_type](
	[qr_code_type_id] [bigint] IDENTITY(1,1) NOT NULL,
	[qr_code_type_name] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_qr_code_type] PRIMARY KEY CLUSTERED 
(
	[qr_code_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[question]    Script Date: 29-Jun-25 14:58:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[question](
	[event_id] [bigint] NOT NULL,
	[question_id] [bigint] IDENTITY(1,1) NOT NULL,
	[text] [nvarchar](max) NOT NULL,
	[question_type_id] [bigint] NOT NULL,
 CONSTRAINT [PK_question] PRIMARY KEY CLUSTERED 
(
	[event_id] ASC,
	[question_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[question_type]    Script Date: 29-Jun-25 14:58:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[question_type](
	[question_type_id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_question_type] PRIMARY KEY CLUSTERED 
(
	[question_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reservation]    Script Date: 29-Jun-25 14:58:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reservation](
	[reservation_id] [bigint] IDENTITY(1,1) NOT NULL,
	[product_id] [bigint] NOT NULL,
	[pib] [bigint] NOT NULL,
	[amount] [int] NOT NULL,
	[delivery] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_reservation] PRIMARY KEY CLUSTERED 
(
	[reservation_id] ASC,
	[product_id] ASC,
	[pib] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[scanned_by]    Script Date: 29-Jun-25 14:58:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[scanned_by](
	[qr_code_id] [bigint] NOT NULL,
	[sutomer_id] [bigint] NOT NULL,
 CONSTRAINT [PK_scanned_by] PRIMARY KEY CLUSTERED 
(
	[qr_code_id] ASC,
	[sutomer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sent_company_email]    Script Date: 29-Jun-25 14:58:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sent_company_email](
	[pib] [bigint] NOT NULL,
	[sent_company_email_id] [bigint] IDENTITY(1,1) NOT NULL,
	[date_and_time] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_sent_company_email] PRIMARY KEY CLUSTERED 
(
	[pib] ASC,
	[sent_company_email_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sent_personal_email]    Script Date: 29-Jun-25 14:58:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sent_personal_email](
	[email] [nvarchar](450) NOT NULL,
	[sent_personal_email_id] [bigint] IDENTITY(1,1) NOT NULL,
	[date_and_time] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_sent_personal_email] PRIMARY KEY CLUSTERED 
(
	[email] ASC,
	[sent_personal_email_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shopping_location]    Script Date: 29-Jun-25 14:58:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shopping_location](
	[pib] [bigint] NOT NULL,
	[shopping_location_id] [bigint] IDENTITY(1,1) NOT NULL,
	[location] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_shopping_location] PRIMARY KEY CLUSTERED 
(
	[pib] ASC,
	[shopping_location_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[text_customer_answer]    Script Date: 29-Jun-25 14:58:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[text_customer_answer](
	[event_id] [bigint] NOT NULL,
	[question_id] [bigint] NOT NULL,
	[answer_id] [bigint] NOT NULL,
	[form_id] [bigint] NOT NULL,
	[text] [nvarchar](max) NOT NULL,
	[CustomerAnswerInstanceEventId] [bigint] NOT NULL,
	[CustomerAnswerInstanceQuestionId] [bigint] NOT NULL,
	[CustomerAnswerInstanceAnswerId] [bigint] NOT NULL,
	[CustomerAnswerInstanceFormId] [bigint] NOT NULL,
 CONSTRAINT [PK_text_customer_answer] PRIMARY KEY CLUSTERED 
(
	[event_id] ASC,
	[question_id] ASC,
	[answer_id] ASC,
	[form_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230729132310_CreatingClasses', N'7.0.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230729231945_CreatingTable', N'7.0.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230730011203_ChangingLocationTable', N'7.0.8')
GO
SET IDENTITY_INSERT [dbo].[answer] ON 

INSERT [dbo].[answer] ([event_id], [question_id], [answer_id], [value]) VALUES (1, 1, 1, N'text')
INSERT [dbo].[answer] ([event_id], [question_id], [answer_id], [value]) VALUES (1, 3, 2, N'Option 1')
INSERT [dbo].[answer] ([event_id], [question_id], [answer_id], [value]) VALUES (1, 3, 4, N'Option 2')
SET IDENTITY_INSERT [dbo].[answer] OFF
GO
SET IDENTITY_INSERT [dbo].[company] ON 

INSERT [dbo].[company] ([pib], [name], [email], [password]) VALUES (10000001, N'kompanija1', N'kompanija1@gmail.com', N'kompanija1')
INSERT [dbo].[company] ([pib], [name], [email], [password]) VALUES (10000002, N'Company2', N'company2@gmail.com', N'company2')
INSERT [dbo].[company] ([pib], [name], [email], [password]) VALUES (10000003, N'Company 3', N'company3@gmail.com', N'company3')
SET IDENTITY_INSERT [dbo].[company] OFF
GO
SET IDENTITY_INSERT [dbo].[customer] ON 

INSERT [dbo].[customer] ([customer_id], [username], [password], [email]) VALUES (6, N'customer3', N'customer3', N'customer3@gmail.com')
INSERT [dbo].[customer] ([customer_id], [username], [password], [email]) VALUES (12, N'customer1', N'customer1', N'customer1@gmail.com')
SET IDENTITY_INSERT [dbo].[customer] OFF
GO
SET IDENTITY_INSERT [dbo].[event] ON 

INSERT [dbo].[event] ([event_id], [title], [description], [creation_date], [begin_date], [end_date], [event_type_id]) VALUES (1, N'Survey 1', N'New survey', CAST(N'2023-07-29T00:00:00.0000000' AS DateTime2), CAST(N'2023-07-30T00:00:00.0000000' AS DateTime2), CAST(N'2023-08-29T00:00:00.0000000' AS DateTime2), 1)
INSERT [dbo].[event] ([event_id], [title], [description], [creation_date], [begin_date], [end_date], [event_type_id]) VALUES (3, N'Survey 2', N'Second new survey', CAST(N'2023-07-29T00:00:00.0000000' AS DateTime2), CAST(N'2023-07-29T00:00:00.0000000' AS DateTime2), CAST(N'2023-08-29T00:00:00.0000000' AS DateTime2), 1)
INSERT [dbo].[event] ([event_id], [title], [description], [creation_date], [begin_date], [end_date], [event_type_id]) VALUES (4, N'Survey 3', N'Third new survey', CAST(N'2023-07-29T00:00:00.0000000' AS DateTime2), CAST(N'2023-07-29T00:00:00.0000000' AS DateTime2), CAST(N'2023-08-29T00:00:00.0000000' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[event] OFF
GO
SET IDENTITY_INSERT [dbo].[event_location] ON 

INSERT [dbo].[event_location] ([event_id], [event_location_id], [location]) VALUES (7, 1, N'Location 1')
INSERT [dbo].[event_location] ([event_id], [event_location_id], [location]) VALUES (7, 2, N'Location 2')
INSERT [dbo].[event_location] ([event_id], [event_location_id], [location]) VALUES (7, 3, N'Location 3')
SET IDENTITY_INSERT [dbo].[event_location] OFF
GO
SET IDENTITY_INSERT [dbo].[event_type] ON 

INSERT [dbo].[event_type] ([event_type_id], [name]) VALUES (1, N'Survey')
INSERT [dbo].[event_type] ([event_type_id], [name]) VALUES (2, N'Promotion')
INSERT [dbo].[event_type] ([event_type_id], [name]) VALUES (3, N'Voting')
SET IDENTITY_INSERT [dbo].[event_type] OFF
GO
SET IDENTITY_INSERT [dbo].[location] ON 

INSERT [dbo].[location] ([location_id], [location_name], [email], [phone]) VALUES (1, N'Location 1', N'location1@gmail.com', N'+3812345678')
INSERT [dbo].[location] ([location_id], [location_name], [email], [phone]) VALUES (2, N'Location 2', N'location2@gmail.com', N'+3812345678')
INSERT [dbo].[location] ([location_id], [location_name], [email], [phone]) VALUES (3, N'Location 3', N'location3@gmail.com', N'+3812345678')
SET IDENTITY_INSERT [dbo].[location] OFF
GO
SET IDENTITY_INSERT [dbo].[meeting] ON 

INSERT [dbo].[meeting] ([meeting_id], [subject], [start_time], [end_time], [location], [pib]) VALUES (3, N'Meeting 1', CAST(N'2023-08-10T10:00:00.0000000' AS DateTime2), CAST(N'2023-08-10T11:00:00.0000000' AS DateTime2), N'Location 1', NULL)
INSERT [dbo].[meeting] ([meeting_id], [subject], [start_time], [end_time], [location], [pib]) VALUES (4, N'Meeting 2', CAST(N'2023-08-11T10:00:00.0000000' AS DateTime2), CAST(N'2023-08-11T11:00:00.0000000' AS DateTime2), N'Location 2', NULL)
INSERT [dbo].[meeting] ([meeting_id], [subject], [start_time], [end_time], [location], [pib]) VALUES (5, N'Meeting 3', CAST(N'2023-08-12T10:00:00.0000000' AS DateTime2), CAST(N'2023-08-12T11:00:00.0000000' AS DateTime2), N'Location 3', NULL)
SET IDENTITY_INSERT [dbo].[meeting] OFF
GO
SET IDENTITY_INSERT [dbo].[offer] ON 

INSERT [dbo].[offer] ([product_id], [offer_id], [amount], [begin_date], [end_date]) VALUES (1, 1, 30, CAST(N'2023-08-30T00:00:00.0000000' AS DateTime2), CAST(N'2023-09-30T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[offer] ([product_id], [offer_id], [amount], [begin_date], [end_date]) VALUES (1, 2, 30, CAST(N'2023-08-16T00:00:00.0000000' AS DateTime2), CAST(N'2023-09-16T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[offer] ([product_id], [offer_id], [amount], [begin_date], [end_date]) VALUES (1, 3, 27, CAST(N'2023-08-16T00:00:00.0000000' AS DateTime2), CAST(N'2023-09-16T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[offer] OFF
GO
INSERT [dbo].[offer_by_company] ([pib], [product_id], [offer_id]) VALUES (10000001, 1, 3)
GO
INSERT [dbo].[personal_email] ([email]) VALUES (N'customer1@gmail.com')
INSERT [dbo].[personal_email] ([email]) VALUES (N'customer3@gmail.com')
GO
SET IDENTITY_INSERT [dbo].[product] ON 

INSERT [dbo].[product] ([product_id], [name], [description]) VALUES (1, N'Product 1', N'Product 1 description')
INSERT [dbo].[product] ([product_id], [name], [description]) VALUES (2, N'Product 2', N'Product 2 description')
INSERT [dbo].[product] ([product_id], [name], [description]) VALUES (3, N'Product 3', N'Product 3 description')
SET IDENTITY_INSERT [dbo].[product] OFF
GO
INSERT [dbo].[product_in_location] ([pib], [shopping_location_id], [product_id]) VALUES (10000001, 1, 1)
INSERT [dbo].[product_in_location] ([pib], [shopping_location_id], [product_id]) VALUES (10000001, 2, 1)
INSERT [dbo].[product_in_location] ([pib], [shopping_location_id], [product_id]) VALUES (10000001, 1, 2)
GO
SET IDENTITY_INSERT [dbo].[qr_code] ON 

INSERT [dbo].[qr_code] ([qr_code_id], [code], [qr_code_type_id]) VALUES (1, N'kj21hl1k2j3hl23kjh4', 1)
INSERT [dbo].[qr_code] ([qr_code_id], [code], [qr_code_type_id]) VALUES (3, N'alskjdhflakjfh123', 1)
INSERT [dbo].[qr_code] ([qr_code_id], [code], [qr_code_type_id]) VALUES (4, N'sfasfas0987fa89f7', 1)
SET IDENTITY_INSERT [dbo].[qr_code] OFF
GO
SET IDENTITY_INSERT [dbo].[qr_code_type] ON 

INSERT [dbo].[qr_code_type] ([qr_code_type_id], [qr_code_type_name]) VALUES (1, N'Product')
SET IDENTITY_INSERT [dbo].[qr_code_type] OFF
GO
SET IDENTITY_INSERT [dbo].[question] ON 

INSERT [dbo].[question] ([event_id], [question_id], [text], [question_type_id]) VALUES (1, 1, N'question 1', 1)
INSERT [dbo].[question] ([event_id], [question_id], [text], [question_type_id]) VALUES (1, 3, N'question 2', 4)
INSERT [dbo].[question] ([event_id], [question_id], [text], [question_type_id]) VALUES (1, 4, N'question 3', 3)
SET IDENTITY_INSERT [dbo].[question] OFF
GO
SET IDENTITY_INSERT [dbo].[question_type] ON 

INSERT [dbo].[question_type] ([question_type_id], [name]) VALUES (1, N'Text')
INSERT [dbo].[question_type] ([question_type_id], [name]) VALUES (2, N'Optional')
INSERT [dbo].[question_type] ([question_type_id], [name]) VALUES (3, N'Multiple choice')
SET IDENTITY_INSERT [dbo].[question_type] OFF
GO
SET IDENTITY_INSERT [dbo].[reservation] ON 

INSERT [dbo].[reservation] ([reservation_id], [product_id], [pib], [amount], [delivery]) VALUES (1, 1, 10000001, 3000, CAST(N'2023-08-24T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[reservation] OFF
GO
INSERT [dbo].[scanned_by] ([qr_code_id], [sutomer_id]) VALUES (1, 6)
INSERT [dbo].[scanned_by] ([qr_code_id], [sutomer_id]) VALUES (4, 6)
INSERT [dbo].[scanned_by] ([qr_code_id], [sutomer_id]) VALUES (5, 6)
GO
SET IDENTITY_INSERT [dbo].[shopping_location] ON 

INSERT [dbo].[shopping_location] ([pib], [shopping_location_id], [location]) VALUES (10000001, 1, N'Location 1')
INSERT [dbo].[shopping_location] ([pib], [shopping_location_id], [location]) VALUES (10000001, 2, N'Location 2')
INSERT [dbo].[shopping_location] ([pib], [shopping_location_id], [location]) VALUES (10000001, 4, N'Location 3')
SET IDENTITY_INSERT [dbo].[shopping_location] OFF
GO
/****** Object:  Index [IX_answer_answer_id]    Script Date: 29-Jun-25 14:58:30 ******/
CREATE NONCLUSTERED INDEX [IX_answer_answer_id] ON [dbo].[answer]
(
	[answer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_company_pib]    Script Date: 29-Jun-25 14:58:30 ******/
CREATE NONCLUSTERED INDEX [IX_company_pib] ON [dbo].[company]
(
	[pib] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_customer_customer_id]    Script Date: 29-Jun-25 14:58:30 ******/
CREATE NONCLUSTERED INDEX [IX_customer_customer_id] ON [dbo].[customer]
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_customer_email]    Script Date: 29-Jun-25 14:58:30 ******/
CREATE NONCLUSTERED INDEX [IX_customer_email] ON [dbo].[customer]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_customer_answer_customer_id]    Script Date: 29-Jun-25 14:58:30 ******/
CREATE NONCLUSTERED INDEX [IX_customer_answer_customer_id] ON [dbo].[customer_answer]
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_customer_answer_form_id]    Script Date: 29-Jun-25 14:58:30 ******/
CREATE NONCLUSTERED INDEX [IX_customer_answer_form_id] ON [dbo].[customer_answer]
(
	[form_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_discount_product_id]    Script Date: 29-Jun-25 14:58:30 ******/
CREATE NONCLUSTERED INDEX [IX_discount_product_id] ON [dbo].[discount]
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_event_event_type_id]    Script Date: 29-Jun-25 14:58:30 ******/
CREATE NONCLUSTERED INDEX [IX_event_event_type_id] ON [dbo].[event]
(
	[event_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_form_qr_code_id]    Script Date: 29-Jun-25 14:58:30 ******/
CREATE NONCLUSTERED INDEX [IX_form_qr_code_id] ON [dbo].[form]
(
	[qr_code_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_meeting_pib]    Script Date: 29-Jun-25 14:58:30 ******/
CREATE NONCLUSTERED INDEX [IX_meeting_pib] ON [dbo].[meeting]
(
	[pib] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_offer_by_company_product_id_offer_id]    Script Date: 29-Jun-25 14:58:30 ******/
CREATE NONCLUSTERED INDEX [IX_offer_by_company_product_id_offer_id] ON [dbo].[offer_by_company]
(
	[product_id] ASC,
	[offer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_product_in_location_product_id]    Script Date: 29-Jun-25 14:58:30 ******/
CREATE NONCLUSTERED INDEX [IX_product_in_location_product_id] ON [dbo].[product_in_location]
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_qr_code_code]    Script Date: 29-Jun-25 14:58:30 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_qr_code_code] ON [dbo].[qr_code]
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_qr_code_qr_code_type_id]    Script Date: 29-Jun-25 14:58:30 ******/
CREATE NONCLUSTERED INDEX [IX_qr_code_qr_code_type_id] ON [dbo].[qr_code]
(
	[qr_code_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_qr_code_type_qr_code_type_name]    Script Date: 29-Jun-25 14:58:30 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_qr_code_type_qr_code_type_name] ON [dbo].[qr_code_type]
(
	[qr_code_type_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_question_question_type_id]    Script Date: 29-Jun-25 14:58:30 ******/
CREATE NONCLUSTERED INDEX [IX_question_question_type_id] ON [dbo].[question]
(
	[question_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_reservation_pib]    Script Date: 29-Jun-25 14:58:30 ******/
CREATE NONCLUSTERED INDEX [IX_reservation_pib] ON [dbo].[reservation]
(
	[pib] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_reservation_product_id]    Script Date: 29-Jun-25 14:58:30 ******/
CREATE NONCLUSTERED INDEX [IX_reservation_product_id] ON [dbo].[reservation]
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_scanned_by_qr_code_id]    Script Date: 29-Jun-25 14:58:30 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_scanned_by_qr_code_id] ON [dbo].[scanned_by]
(
	[qr_code_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_scanned_by_sutomer_id]    Script Date: 29-Jun-25 14:58:30 ******/
CREATE NONCLUSTERED INDEX [IX_scanned_by_sutomer_id] ON [dbo].[scanned_by]
(
	[sutomer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_text_customer_answer_CustomerAnswerInstanceEventId_CustomerAnswerInstanceQuestionId_CustomerAnswerInstanceAnswerId_CustomerA~]    Script Date: 29-Jun-25 14:58:30 ******/
CREATE NONCLUSTERED INDEX [IX_text_customer_answer_CustomerAnswerInstanceEventId_CustomerAnswerInstanceQuestionId_CustomerAnswerInstanceAnswerId_CustomerA~] ON [dbo].[text_customer_answer]
(
	[CustomerAnswerInstanceEventId] ASC,
	[CustomerAnswerInstanceQuestionId] ASC,
	[CustomerAnswerInstanceAnswerId] ASC,
	[CustomerAnswerInstanceFormId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[location] ADD  DEFAULT (N'') FOR [email]
GO
ALTER TABLE [dbo].[location] ADD  DEFAULT (N'') FOR [phone]
GO
ALTER TABLE [dbo].[qr_code] ADD  DEFAULT (CONVERT([bigint],(0))) FOR [qr_code_type_id]
GO
ALTER TABLE [dbo].[answer]  WITH CHECK ADD  CONSTRAINT [FK_answer_question_event_id_question_id] FOREIGN KEY([event_id], [question_id])
REFERENCES [dbo].[question] ([event_id], [question_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[answer] CHECK CONSTRAINT [FK_answer_question_event_id_question_id]
GO
ALTER TABLE [dbo].[customer]  WITH CHECK ADD  CONSTRAINT [FK_customer_personal_email_email] FOREIGN KEY([email])
REFERENCES [dbo].[personal_email] ([email])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[customer] CHECK CONSTRAINT [FK_customer_personal_email_email]
GO
ALTER TABLE [dbo].[customer_answer]  WITH CHECK ADD  CONSTRAINT [FK_customer_answer_answer_event_id_question_id_answer_id] FOREIGN KEY([event_id], [question_id], [answer_id])
REFERENCES [dbo].[answer] ([event_id], [question_id], [answer_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[customer_answer] CHECK CONSTRAINT [FK_customer_answer_answer_event_id_question_id_answer_id]
GO
ALTER TABLE [dbo].[customer_answer]  WITH CHECK ADD  CONSTRAINT [FK_customer_answer_customer_customer_id] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customer] ([customer_id])
GO
ALTER TABLE [dbo].[customer_answer] CHECK CONSTRAINT [FK_customer_answer_customer_customer_id]
GO
ALTER TABLE [dbo].[customer_answer]  WITH CHECK ADD  CONSTRAINT [FK_customer_answer_form_form_id] FOREIGN KEY([form_id])
REFERENCES [dbo].[form] ([form_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[customer_answer] CHECK CONSTRAINT [FK_customer_answer_form_form_id]
GO
ALTER TABLE [dbo].[discount]  WITH CHECK ADD  CONSTRAINT [FK_discount_product_product_id] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([product_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[discount] CHECK CONSTRAINT [FK_discount_product_product_id]
GO
ALTER TABLE [dbo].[discount]  WITH CHECK ADD  CONSTRAINT [FK_discount_shopping_location_pib_shopping_location_id] FOREIGN KEY([pib], [shopping_location_id])
REFERENCES [dbo].[shopping_location] ([pib], [shopping_location_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[discount] CHECK CONSTRAINT [FK_discount_shopping_location_pib_shopping_location_id]
GO
ALTER TABLE [dbo].[event]  WITH CHECK ADD  CONSTRAINT [FK_event_event_type_event_type_id] FOREIGN KEY([event_type_id])
REFERENCES [dbo].[event_type] ([event_type_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[event] CHECK CONSTRAINT [FK_event_event_type_event_type_id]
GO
ALTER TABLE [dbo].[event_location]  WITH CHECK ADD  CONSTRAINT [FK_event_location_event_event_id] FOREIGN KEY([event_id])
REFERENCES [dbo].[event] ([event_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[event_location] CHECK CONSTRAINT [FK_event_location_event_event_id]
GO
ALTER TABLE [dbo].[form]  WITH CHECK ADD  CONSTRAINT [FK_form_qr_code_qr_code_id] FOREIGN KEY([qr_code_id])
REFERENCES [dbo].[qr_code] ([qr_code_id])
GO
ALTER TABLE [dbo].[form] CHECK CONSTRAINT [FK_form_qr_code_qr_code_id]
GO
ALTER TABLE [dbo].[meeting]  WITH CHECK ADD  CONSTRAINT [FK_meeting_company_pib] FOREIGN KEY([pib])
REFERENCES [dbo].[company] ([pib])
GO
ALTER TABLE [dbo].[meeting] CHECK CONSTRAINT [FK_meeting_company_pib]
GO
ALTER TABLE [dbo].[offer]  WITH CHECK ADD  CONSTRAINT [FK_offer_product_product_id] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([product_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[offer] CHECK CONSTRAINT [FK_offer_product_product_id]
GO
ALTER TABLE [dbo].[offer_by_company]  WITH CHECK ADD  CONSTRAINT [FK_offer_by_company_company_pib] FOREIGN KEY([pib])
REFERENCES [dbo].[company] ([pib])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[offer_by_company] CHECK CONSTRAINT [FK_offer_by_company_company_pib]
GO
ALTER TABLE [dbo].[offer_by_company]  WITH CHECK ADD  CONSTRAINT [FK_offer_by_company_offer_product_id_offer_id] FOREIGN KEY([product_id], [offer_id])
REFERENCES [dbo].[offer] ([product_id], [offer_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[offer_by_company] CHECK CONSTRAINT [FK_offer_by_company_offer_product_id_offer_id]
GO
ALTER TABLE [dbo].[product_in_location]  WITH CHECK ADD  CONSTRAINT [FK_product_in_location_product_product_id] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([product_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[product_in_location] CHECK CONSTRAINT [FK_product_in_location_product_product_id]
GO
ALTER TABLE [dbo].[product_in_location]  WITH CHECK ADD  CONSTRAINT [FK_product_in_location_shopping_location_pib_shopping_location_id] FOREIGN KEY([pib], [shopping_location_id])
REFERENCES [dbo].[shopping_location] ([pib], [shopping_location_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[product_in_location] CHECK CONSTRAINT [FK_product_in_location_shopping_location_pib_shopping_location_id]
GO
ALTER TABLE [dbo].[qr_code]  WITH CHECK ADD  CONSTRAINT [FK_qr_code_qr_code_type_qr_code_type_id] FOREIGN KEY([qr_code_type_id])
REFERENCES [dbo].[qr_code_type] ([qr_code_type_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[qr_code] CHECK CONSTRAINT [FK_qr_code_qr_code_type_qr_code_type_id]
GO
ALTER TABLE [dbo].[question]  WITH CHECK ADD  CONSTRAINT [FK_question_event_event_id] FOREIGN KEY([event_id])
REFERENCES [dbo].[event] ([event_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[question] CHECK CONSTRAINT [FK_question_event_event_id]
GO
ALTER TABLE [dbo].[question]  WITH CHECK ADD  CONSTRAINT [FK_question_question_type_question_type_id] FOREIGN KEY([question_type_id])
REFERENCES [dbo].[question_type] ([question_type_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[question] CHECK CONSTRAINT [FK_question_question_type_question_type_id]
GO
ALTER TABLE [dbo].[reservation]  WITH CHECK ADD  CONSTRAINT [FK_reservation_company_pib] FOREIGN KEY([pib])
REFERENCES [dbo].[company] ([pib])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[reservation] CHECK CONSTRAINT [FK_reservation_company_pib]
GO
ALTER TABLE [dbo].[reservation]  WITH CHECK ADD  CONSTRAINT [FK_reservation_product_product_id] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([product_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[reservation] CHECK CONSTRAINT [FK_reservation_product_product_id]
GO
ALTER TABLE [dbo].[scanned_by]  WITH CHECK ADD  CONSTRAINT [FK_scanned_by_customer_sutomer_id] FOREIGN KEY([sutomer_id])
REFERENCES [dbo].[customer] ([customer_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[scanned_by] CHECK CONSTRAINT [FK_scanned_by_customer_sutomer_id]
GO
ALTER TABLE [dbo].[scanned_by]  WITH CHECK ADD  CONSTRAINT [FK_scanned_by_qr_code_qr_code_id] FOREIGN KEY([qr_code_id])
REFERENCES [dbo].[qr_code] ([qr_code_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[scanned_by] CHECK CONSTRAINT [FK_scanned_by_qr_code_qr_code_id]
GO
ALTER TABLE [dbo].[sent_company_email]  WITH CHECK ADD  CONSTRAINT [FK_sent_company_email_company_pib] FOREIGN KEY([pib])
REFERENCES [dbo].[company] ([pib])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[sent_company_email] CHECK CONSTRAINT [FK_sent_company_email_company_pib]
GO
ALTER TABLE [dbo].[sent_personal_email]  WITH CHECK ADD  CONSTRAINT [FK_sent_personal_email_personal_email_email] FOREIGN KEY([email])
REFERENCES [dbo].[personal_email] ([email])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[sent_personal_email] CHECK CONSTRAINT [FK_sent_personal_email_personal_email_email]
GO
ALTER TABLE [dbo].[shopping_location]  WITH CHECK ADD  CONSTRAINT [FK_shopping_location_company_pib] FOREIGN KEY([pib])
REFERENCES [dbo].[company] ([pib])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[shopping_location] CHECK CONSTRAINT [FK_shopping_location_company_pib]
GO
ALTER TABLE [dbo].[text_customer_answer]  WITH CHECK ADD  CONSTRAINT [FK_text_customer_answer_customer_answer_CustomerAnswerInstanceEventId_CustomerAnswerInstanceQuestionId_CustomerAnswerInstanceAn~] FOREIGN KEY([CustomerAnswerInstanceEventId], [CustomerAnswerInstanceQuestionId], [CustomerAnswerInstanceAnswerId], [CustomerAnswerInstanceFormId])
REFERENCES [dbo].[customer_answer] ([event_id], [question_id], [answer_id], [form_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[text_customer_answer] CHECK CONSTRAINT [FK_text_customer_answer_customer_answer_CustomerAnswerInstanceEventId_CustomerAnswerInstanceQuestionId_CustomerAnswerInstanceAn~]
GO
USE [master]
GO
USE [honey-beer-database]
GO
