<div class="navigation-small">
    <div>
        <!-- development link -->
        <img src="./../assets/images/honey-beer-logo.png" alt="">
        <!-- deployment link -->
        <!-- <img src="./assets/images/honey-beer-logo.png" alt=""> -->
    </div>
    <div class="menu-container">
        <mat-icon class="side-menu-bitton">menu
            
        </mat-icon>
        <div class="side-menu">
            <button class="menu-button">Our beer<mat-icon>arrow_drop_down</mat-icon></button>
            <!-- our beer drop down menu -->
            <div class="arrow-drop-down-menu">
                <h1>Content menu for Our beer button</h1>
            </div>
            <button class="menu-button inside-honey-beer-button">Inside honey beer<mat-icon>arrow_drop_down</mat-icon></button>
            <!-- Inside honey beer drop down menu -->
            <div class="arrow-drop-down-menu">
                <h1>Content menu for Inside honey beer button</h1>
            </div>
            <a href="#">Buy online</a>
            <a href="#">Store locator</a>
            <a href="#" class="build-a-bottle-link">Build a bottle</a>
            <a href="#" class="shopping-card-icon"><mat-icon>shopping_cart</mat-icon></a>
        </div>  
    </div>
</div>