<div class="back-to-site-button-container">
    <button (click)="this.backToPrevoiusPage()">Back to website</button>
</div>
<div #main class="container" id="main">
    <div class="sign-up">
        <form [formGroup]="companyForm" action="#">
            <h1>Company registration</h1>
            <input
            [ngClass]="this.companyPIB.valid?'success':'none'"
            type="text" name="txt" placeholder="PIB" formControlName="companyPIB" required="">
            <input
            [ngClass]="this.companyUsername.valid?'success':'none'"
            type="text" name="txt" placeholder="Name" formControlName="companyUsername" required="">
            <input
            [ngClass]="this.companyEmail.valid?'success':'none'"
            type="email" name="email" placeholder="Email" formControlName="companyEmail" required="">
            <input 
            [ngClass]="this.companyPassword.valid?'success':'none'"
            type="password" name="pswd" placeholder="Password" formControlName="companyPassword" required="">
            <input 
            [ngClass]="this.companyConfirmedPassword.valid?'success':'none'"
            type="password" name="confirmPswd" placeholder="Confirm password" formControlName="companyConfirmedPassword" required="">
            <button id="companyRegister" [disabled]="!this.companyForm.valid"
            (click)="saveCompany()">Register</button>
        </form>
    </div>
    <div class="sign-in">
            <form [formGroup]="customerForm" action="#">
            <h1>Customer registration</h1>
            <input
            [ngClass]="this.customerUsername.valid?'success':'none'" 
            type="text" name="username" placeholder="Username" formControlName="username" required="">
            <input
            [ngClass]="this.customerEmail.valid?'success':'none'" 
             type="email" name="email" placeholder="Email" formControlName="email" required="">
            <input 
            [ngClass]="this.customerPassword.valid?'success':'none'"
            type="password" name="pswd" placeholder="Password" formControlName="password" required="">
            <input
            [ngClass]="this.customerConfirmedPassword.valid?'success':'none'"
             type="password" name="confirmpswd" placeholder="Confirm password" formControlName="confirmationPassword" required="">
            <!-- <a href="#">Forgot your password?</a> -->
            <button id="customerRegister" [disabled]="!this.customerForm.valid" 
            (click)="saveCustomer()">Register</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-left">
                <h1>Customer registration</h1>
                <p>If you want to register your personal account, please click the button below.</p>
                <button id="signIn" #signIn>Customer registration</button>
            </div>
            <div class="overlay-right">
                <h1>Company registration</h1>
                <p>If you want to register your company for buying products, please click button below.</p>
                <button id="register" #register>Company registration</button>
            </div>
        </div>
    </div>
</div>
